@import '../../node_modules/bootstrap/scss/functions';
@import './helpers/variables';
@import './helpers/variables-dark';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import './utils/utilities';
@import './utils/mixin';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/vue-loading-overlay/dist/css/index.css';

// Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;900&family=Noto+Sans+TC:wght@100..900&family=Pacifico&display=swap');

@import '../../node_modules/bootstrap-vue-next/dist/bootstrap-vue-next.css';

// 改變按鈕配色
// 基礎設訂
#app{
	background-color: $Neutral-05 !important;
	font-family: "Noto Sans TC","微軟正黑體","sans-serif";
	min-height: 100vh;
}

.wrapper {
  flex-grow: 1 ; //撐開中間
	min-height: 100%;
}
.neutral-01{
	color: $Neutral-01;
}
.neutral-02{
	color: $Neutral-02;
}
.neutral-03{
	color: $Neutral-03;
}
.neutral-04{
	color: $Neutral-04;
}
.neutral-05{
	color: $Neutral-05;
}
.card{
	border: none;
	padding: 16px;
}

// 按鈕設定
.btn-primary{
 color: #fff ;
}
.btn{
	border: none;
	border-radius: 50rem;
	&:hover{
		color: #fff;
	}
}

.btn-Bg:hover{
	color: $gray-900;
 }
.btn-Bg-active{
 background-color: $Bg !important;
}

// input
.form-control,
.form-select{
	background: #FFFFFF;
	border: 1px solid $Neutral-04;
	&::placeholder,
	:disabled {
		color: $Neutral-03;
	}
}
.btn-outline-primary {
	// 不知道什麼東西蓋過去了，補一下
	border: 1px solid $primary;
}

.form-disabled{
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $Neutral-03;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:focus,
	&:focus-within,
	&:focus-visible{
		color: $gray-900;
	}
}


// card漸層外框
// 漸層自己增加，只有按鈕有漸層樣式，其他的會出錯。
$border: 5px; //粗細
$radius-8: 0.5rem; //弧度
.card-line {
	position: relative;
	width: auto;
	padding: 0;
	background: #fff;
	background-clip: padding-box; /* !importanté */
	border-bottom: solid $border transparent; /* !importanté */
	border-radius: $radius-8;
	margin: $border !important;

	&:before {
		content: '';
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: 0;
		left: 5px;
		z-index: -1;
		margin: -$border; /* !importanté */
		border-radius: $radius-8; /* !importanté */
		background: linear-gradient(to right, $yellow, $primary);
	}
}

.card-line:hover,
.card-line:focus {
	position: relative;
	width: auto;
	padding: 0;
	background: #fff;
	background-clip: padding-box; /* !importanté */
	border-bottom: solid $border transparent; /* !importanté */
	border-radius: $radius-8;
	margin: $border;
	box-shadow: 0px 4px 40px 0px #0000000D !important; 


	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -$border; /* !importanté */
		border-radius: $radius-8; /* !importanté */
		background: linear-gradient(to right, $yellow, $primary);
		box-shadow: 0px 4px 40px 0px #0000000D !important; 

	}
}


// 首頁---------CSS
// Banner
.btn-eca-s,
.btn-eca-l,
.btn-eca {
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: #454545;
	border-radius: 99em;
	width: 48px;
	height: 48px;
	svg {
		width: 12px;
		height: 12px;
	}
}
.btn-eca-s{
	width: 40px;
	height: 40px;
}
.btn-eca-l{
	width: 64px;
	height: 64px;
	svg {
		width: 24px;
		height: 24px;
	}
}
.btn-eca-s:hover,
.btn-eca-l:hover,
.btn-eca:hover {
	background-color: $primary;
	color: white ;
}

// 分頁器設定  $secondary 我設定這個不理我
.swiper {
	--swiper-pagination-color: #fde48e;
	--swiper-pagination-bullet-inactive-color: #ffffff;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-size: 12px ;
	--swiper-pagination-bullet-horizontal-gap: 8px;
}
.swiper-page-bottom {
	position: initial !important; //禁止 position 對位往上移動
	padding: 16px 8px 0px 8px;
}


// 標題
.title-top {
	font-family: 'Rock Salt';
  color: $secondary;
	display: block;
	margin-bottom: -0.2em;
	font-size: 1.125em;
}
.text-line{
	width: 48px;
	height: 2px;
	background-color: $primary;
}

.m-index-title { //首頁上下間距
	margin-top: 52px;
	margin-bottom: 0px;
	@media (min-width: 768px) {
		margin-top: 79px;
		margin-bottom: 120px;
	}
}


//帶入圖片<img> 置中滿版(請用外層div限制寬高)
.img-eca{
	object-position: center center; 
	object-fit: cover;
	width: 100%; height: 100%;
}
//帶背景圖 置中滿版
.bg-img-eca{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.bg-img-eca-dack{ //黑色
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	width: 100%;height: 100%;
	background-color: rgba(0, 0, 0, .3);
	background-blend-mode: multiply;
}
//頭像 白線
.avatar-border{
	border: 4px white solid;
}
//頭像  40  m:72 l:90 xl:150
.avatar,
.avatar-m,
.avatar-l,
.avatar-xl {
	width: 40px;
	height: 40px;
	margin: 8px;
	border-radius: 99em;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 'cover';
}
.avatar-m{
	width: 72px;
	height: 72px;
}
.avatar-l{
	width: 90px;
	height: 90px;
}
.avatar-xl {
	width: 150px;
	height: 150px;
}


// nav-tabs
.nav-body {
	border-top-left-radius: 0px;
}
.nav-tabs,
.nav-link,
.active {
	border: none !important;
	background-color: initial !important;
}
.nav-link:hover{
	cursor: pointer; //變手掌
}

.text-card-coupon {
	padding: 2px 4px;
	flex-shrink: 0; //禁止擠壓
	font-size: 0.75rem; //12
	@media (min-width: 768px) {
		//依照 Breakpoints md以上 高度是 204px
		font-size: 0.875rem; //14
	}
}

.card-hover:hover {
	.card-text-hover{
		color:  $primary;
	}
}


// 原本要做 頁碼，但還沒有製作，CSS 可以參考或整個改掉
// 圓的 或 方(圓角) 的都可以，樣式未修 做到一半 還在看感覺~
.page-link{
	width: 2em;
	height: 2em;
	padding: 0px;
	display: flex;
	margin: 1px !important;
	align-items: center;
	justify-content: center;
	border-radius: 99em !important;
	border: none;
	// background-color: inherit;
	color: $Neutral-01;
	cursor: pointer;
}

.page-link:hover{
	color: $primary;
	background-color: $Bg;
}

.page-item:active { //點擊
	.page-link{
		color: #fff;
		background-color: $primary;
	}
}

.page-item-bottom {
	position: initial !important;
	margin-bottom: 32px;
	width: 100%;
	@media (min-width: 768px) {
		margin-bottom: 64px;
	}
}

// input 標籤 下拉選單，標籤(注意HTML上也有 class)。
.input-badge{
	padding: 4px 8px 4px 16px;
	font-size: 0.875rem; //14
	color: $primary;
	background-color: $Bg;
	border-radius: 99em !important;
	margin: 6px 8px 6px 0px;
	display: flex;
  align-items: center; 
	p{
		margin-right: 4px;
	}
	.btn-close {
		color: $Neutral-04 !important;
		padding: 4px 4px;
		font-size: 0.75rem;
	}
}



// 畫面卷軸 更新
.scrollbar {
	&::-webkit-scrollbar {
		width: 5px; //scroll寬度
	}
	&::-webkit-scrollbar-track {
		background-color: $Neutral-03; //背景
		border-radius: 10px;
		margin: 2px 0px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: $primary;//scroll顏色
	}
}

// sticky 降 z-index 避免 其他的無法蓋過
.sticky-bottom{
	z-index: 5;
}


.flex-shrink {
	flex-shrink: 0; //禁止擠壓
}

.fs-12 {
	font-size:  0.75em; //12px
}
.card-newImg-disabled,
.card-newImg{
	text-align: center;
	width: 96px;
	height: 96px;
	padding: 8px;
	border-radius: 6px;
	border: 2px dashed  $primary;
	font-size: 12px;
	color:  $primary;
	.fa-image{
		font-size: 32px;
		padding: 4px;
	}
	p{
		margin: 0px;
	}
}
.card-directions{
	color: $Neutral-02;
	font-size: 12px;
	margin: auto 0px;
	ul{
		margin: 0px;
	}
}
.card-newImg-disabled{
	color: $Neutral-03;
	border: 2px solid $Neutral-03;
}

.icon .fasHeart ,
.icon .farHeart {
	stroke: white;
	stroke-width: 40px;
	transition: fill 0.3s ease, stroke 0.3s ease;
	fill: $gray-900;
}
.icon:hover .farHeart {
	fill: $red;
}
.icon .fasHeart {
	fill: $red;
}
